
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
.cabecalho{
    background-color: rgb(188, 137, 137);
    width:100%;
}
.botao{
    color: black;
    font-size: 24px;
}
.titulo{
    color:black;
    font-size: 32px;
    font-family:Rock Salt;
    text-align: conter;
}
.texto{
    background-color: brown;
}
.h2{
    font-family: Rock salt;
    font-size: 24px;
    color: black;  
}
.texto-inicial{
    font-size: 24px;
    color: black;
}
.texto-fonte{
    font-size: 18px;
    color: black;
}
.foto{
    width: 33%;
    border-radius: 10px;
    height: 500px;
}
.texto-descricao{
    font-size: 24px;
    display: inline-block;
}
.foto-explorar{
    text-align: left;
    width: 500px;
    height: 500px;
    display: inline-block;
}
.destino{
    display: flex;
    align-items: center;
}

.topicos{
    display: flex;
    position: absolute;
    padding: 1em;
    list-style-type: none; 
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
}
.botao-link{
    text-decoration: none;
    display: flex;
    color:#e8fbbb;
    font-size: 24px;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #4d543d;
}

