
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
.cabecalho{
    background-color: rgb(188, 137, 137);
    width:100%;
}
.botao{
    color: black;
    font-size: 24px;
}
.titulo{
    color:black;
    font-size: 32px;
    font-family:Rock Salt;
    text-align: conter;
}
.texto{
    background-color: brown;
}
.h2{
    font-family: Rock salt;
    font-size: 24px;
    color: black;  
}
.texto-inicial{
    font-size: 24px;
    color: black;
}
.texto-fonte{
    font-size: 18px;
    color: black;
}
.foto{
    width: 30%;
}
.botao{
    text-decoration :none;
}
