
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
.cabecalho{
    background-color: rgb(188, 137, 137);
    width:100%;
}
.topicos{
    color: black;
    font-size: 24px;
}
.titulo{
    color:black;
    font-size: 32px;
    font-family:Rock Salt;

}
